@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
a {
    color: white;
    text-decoration: none;
  }


img{
    width: 100%;
}

figure{
     width: 100%;
}

p{
    font-size: 17px/24px ;
    font-family: 'Merriweather Sans';
    /* font-weight: 400; */
    margin: 0 0 20px 0;
    letter-spacing: 0.8px;
 
}


.has-drop-cap{
    text-align: start;
    
}

.has-drop-cap:first-letter{
    font-size: 3.5rem;
}

.has-inline-color{
    font-weight: 900;
    text-align: start;
    
  }

  .wp-block-quote{
      font-family: 'Merriweather Sans';
      font-size: 1.2rem;
      font-weight: lighter;
      quotes: "„" "“" "‚" "‘";
      
      
  }

  figcaption{
    font-family: 'Merriweather Sans';
    font-weight: 200;
    font-size: 0.8rem;
  }

